.hiw {
    padding-top: 169px;
    padding-bottom: 51px;
    .hiw-header {
        display: flex;
        justify-content: space-between;
        .hiw-header-head {
            margin-right: 30px;
            max-width: 584px;
            .hiw-header-title {
                margin-bottom: -3px;
                font-size: 24px;
                font-weight: 600;
                line-height: 157%;
            }
            .hiw-header-subtitle {
                font-size: 50px;
                font-weight: 700;
                line-height: 157%;
                font-family: "Georgia", serif;
                color: $mainGreen;
            }
        }
        .hiw-header-content {
            padding-top: 58px;
            max-width: 671px;
            line-height: 150%;
            font-weight: 500;
        }
    }
    .hiw-steps {
        margin-top: 52px;
        .step {
            max-width: 390px;
            .step-heading {
                padding: 135px 0 0 88px;
                position: relative;
                margin-bottom: 55px;
                font-family: "Georgia", serif;
                color: black;
                font-size: 30px;
                font-weight: 700;
                line-height: 150%;
                &::before {
                    content: attr(data-number);
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-weight: 400;
                    font-size: 150px;
                    line-height: 150%;
                    color: rgba(1, 153, 109, 0.2);
                }
            }
            .step-text {
                font-weight: 500;
                line-height: 150%;
                margin-bottom: 60px;
            }
            .step-img-wrapper {
                padding-bottom: 126%;
                position: relative;
                .step-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px; 
                }
            }
        }
    }
}